<div class="header">
</div>
<div class="container">
  <div class="about">
    <div class="left">
      <h1 class="h-font" style="color: #db2d8e;">ABOUT <span style="color:#000000; font-family:Circular Std Book">US</span></h1>
      <hr>
      <p class="t-font">We are in an era where people are living increasingly fast-paced and busy lives. This means that time has become a valuable asset and, as a community, we all want to use our time in the best way possible.
         Home Fetch is therefore all about efficiency and saving time. This is why with just a click of a button or a touch of a screen you can easily book or rent out your own home.</p>
    </div>
    <div class="right">
      <img src='../../../assets/images/about.jpg'>
    </div>
    <div class="clear"></div>
  </div>

  <div class="mission">
    <div class="left">
      <img src='../../../assets/images/mission.png'>
    </div>
    <div class="right">
      <h1 class="h-font" style="color: #db2d8e;">Mission <span style="color:#000000; font-family:Circular Std Book">Statement</span></h1>
      <h1 class="h-font" style="color: #db2d8e;">OUR <span style="color:#000000; font-family:Circular Std Book">MISSION</span></h1>
      <hr>
      <p class="t-font">We are re-shaping the real estate rental industry, helping people find their new home in the most convenient way, saving time and money.
         We have taken away much of the long-drawn-out process of finding a new house. Whether you are moving from another country, city, or just a previous home, we are here to ease the process every step of the way. </p>
    </div>
    <div class="clear"></div>
  </div>


  <div class="team">
    <h1 style="color: #db2d8e;"> Our <span style="color:#000000; font-family:Circular Std Book">Team</span>
      <hr>
    </h1>

      <div class="row team-row">

        <div class="col-md-4 col-sm-6 team-wrap">
          <div class="team-member text-center">
            <div class="team-img">
              <img src="http://deothemes.com/envato/enigma/html/img/team_1.jpg" alt="">
              <div class="overlay">
                <div class="team-details text-center">
                  <p>
                    Our web design team will spend time with our digital marketing team.
                  </p>
                  <div class="socials mt-20">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h6 class="team-title">John Marshall</h6>
            <span>Designer</span>
          </div>
        </div>
        <!-- end team member -->

        <div class="col-md-4 col-sm-6 team-wrap">
          <div class="team-member text-center">
            <div class="team-img">
              <img src="http://deothemes.com/envato/enigma/html/img/team_2.jpg" alt="">
              <div class="overlay">
                <div class="team-details text-center">
                  <p>
                    Our web design team will spend time with our digital marketing team.
                  </p>
                  <div class="socials mt-20">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h6 class="team-title">Steve Roberts</h6>
            <span>Photographer</span>
          </div>
        </div>
        <!-- end team member -->

        <div class="col-md-4 col-sm-6 team-wrap">
          <div class="team-member last text-center">
            <div class="team-img">
              <img src="http://deothemes.com/envato/enigma/html/img/team_3.jpg" alt="">
              <div class="overlay">
                <div class="team-details text-center">
                  <p>
                    Our web design team will spend time with our digital marketing team.
                  </p>
                  <div class="socials mt-20">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h6 class="team-title">Michael Cartney</h6>
            <span>Designer</span>
          </div>
        </div>
        <!-- end team member -->

      </div>

  </div>
</div>
