<div class="header">

</div>

<div class="container">

  <div class="about">
    <div class="left">
      <h1 class="h-font" style="color: #db2d8e;">ABOUT <span style="color:#000000; font-family:Circular Std Book">US</span></h1>
      <hr>
      <p class="t-font">We are in an era where people are living increasingly fast-paced and busy lives. This means that time has become a valuable asset and, as a community, we all want to use our time in the best way possible.
         Home Fetch is therefore all about efficiency and saving time. This is why with just a click of a button or a touch of a screen you can easily book or rent out your own home.</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="mission">
    <div class="right">
      <h1 class="h-font" style="color: #db2d8e;">OUR <span style="color:#000000; font-family:Circular Std Book">MISSION</span></h1>
      <hr>
      <p class="t-font">We are re-shaping the real estate rental industry, helping people find their new home in the most convenient way, saving time and money.
         We have taken away much of the long-drawn-out process of finding a new house. Whether you are moving from another country, city, or just a previous home, we are here to ease the process every step of the way. </p>
    </div>
    <div class="clear"></div>
  </div>
</div>
