@font-face {font-family: "Circular Std Book"; src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot"); src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book") format("svg"); }

@font-face {font-family: "Circular Std Bold"; src: url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot"); src: url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff") format("woff"), url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.svg#Circular Std Bold") format("svg"); }

.h-font {
  font-family: 'Circular Std Bold';
}

.t-font {
  font-family: 'Circular Std Book';
  font-size:23px;
}

.card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 12px;
  cursor: pointer;
  margin: 0 15px 5px !important;
}

.card-img-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: left;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.price {
  font-family: "Circular Std Book", sans-serif;
}

.citystatezip {
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.redirect {
  cursor: pointer;
  font-family: "Circular STD Book";
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  background: linear-gradient(90deg, #04274b, #db2d83);
  border: none;
  color: white;
  transition-duration: 0.2s;
  margin-top: 20px;
}

.redirect:focus {
  outline: none;
}

.redirect:hover {
  transform: translate(0, -5px);
}

