<div class="hero-image" id="hero-img" *ngIf="isLoaded">
  <div class="row">
    <div class="p-lg-5" id="hero-text">
      <h1 class="display-4 font-weight-normal h-font">Stress Free,<br>Fair Fee,<br>Tenant to Be!</h1>

      <div class="text-center text-light" id="searchcontainer">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input id="search" formControlName="vicinity" type="text" placeholder="Select City" aria-label="Number" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" value="form.value.vicinity">
              <mat-option value="Barcelona, Spain">Barcelona, Spain</mat-option>
              <mat-option value="Madrid, Spain">Madrid, Spain</mat-option>
              <!-- TODO: Other -->
            </mat-autocomplete>
            <button type="submit" id="searchbutton">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="width: 100%; height: auto; position: absolute; bottom: 0;">
    <path fill="#ffffff" fill-opacity="1"
      d="M0,64L48,74.7C96,85,192,107,288,133.3C384,160,480,192,576,218.7C672,245,768,267,864,250.7C960,235,1056,181,1152,154.7C1248,128,1344,128,1392,128L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>
</div>

<div id="why-tenant-title" class="why active">
  <h1 class="display-4 font-weight-normal h-font text-center" style="margin-top: 60px; font-size: 3rem;">
    <span style="color: #db2d8e;">Why Rent With HomeFetch?</span>
  </h1>
</div>

<div id="why-landlord-title" class="why">
  <h1 class="display-4 font-weight-normal h-font text-center" style="margin-top: 60px; font-size: 3rem;">
    <span style="color: #db2d8e;">Why Publish With HomeFetch?</span>
  </h1>
</div>

<div class="container-fluid" id="why-div">
  <div class="rounded-pill">
    <div id="tenant" class="pill-half active">
      Tenant
    </div>

    <div id="landlord" class="pill-half">
      Landlord
    </div>
  </div>

  <div id="why-tenant" class="why active">
    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-6">
        <p class="lead font-weight-normal t-font" style="color: #19AA59;">100% Online</p>
        <p class="text-left">
          No need to take time off your busy schedule to visit so many apartments. That's what's so great about Home Fetch - we do all the hard work for you!
          With Homefetch you can easily find your ideal room or apartment from within the comfort of your own home.
          The booking process is quick, cheap, easy and 100% online.
          No longer do you have to deal with the stress of visiting multiple properties. It's stressful enough moving to a new country to study, starting a new job, or just moving!
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="../../../assets/icons/100online.png" style="height: 170px; width: auto; margin-bottom: 20px;">
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-6 text-center">
        <img src="../../../assets/icons/virtualvisits.png" style="height: 170px; width: auto; margin-bottom: 20px;">
      </div>
      <div class="col-md-6">
        <p class="lead font-weight-normal t-font" style="color: #19AA59;">Virtual Visits</p>
        <p class="text-left">
          Let us be the ones who do all the legwork for you with an in-depth video tour, taking you around every nook and corner of the apartment from living room to the kitchen.
          This way, you're able to view a wide variety of apartments without even having to leave your sofa.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="lead font-weight-normal t-font" style="color: #19AA59;">Support All the Way</p>
        <p class="text-left">
          All we want is for you to have a comfortable and smooth-sailing experience with Home Fetch. Our customer service is available to answer any of your queries.
          With a completely online service, our team is responsive and ever ready to help.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="../../../assets/icons/supportalltheway.png" style="height: 170px; width: auto; margin-bottom: 20px;">
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-6 text-center">
        <img src="../../../assets/icons/nocharge.png" style="height: 170px; width: auto; margin-bottom: 20px;">
      </div>
      <div class="col-md-6">
        <p class="lead font-weight-normal t-font" style="color: #19AA59;">No Charge until You're Settled</p>
        <p class="text-left">
          For your own peace of mind and security, we do not trasnfer your booking fee to the landlord until after you've moved in.
          We hold the funds for 24-48 hours after your move-in date - and only when you have settled in and find everything to your satisfaction.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="lead font-weight-normal t-font" style="color: #19AA59;">Find the Right Fit</p>
        <p class="text-left">
          With all the different apartments visible on our website, we're sure you will find exactly what you're looking for.
          However, if for any reason you decide to change your mind, you will be able to cancel your booking free of charge
          for up to 48 hours after making that booking.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="../../../assets/icons/findthefit.png" style="height: 170px; width: auto; margin-bottom: 20px;">
      </div>
    </div>
  </div>

  <div id="why-landlord" class="why">
    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-6">
        <p class="lead font-weight-normal t-font" style="color: #19AA59;">Affordable Fees</p>
        <p class="text-left">
          Say goodbye to super high agency fees and endless paperwork. We understand just how expensive it can be to rent out your own property, from agent's fees, to maintenance, to advertising.
          That's why Home Fetch have decided to charge the lowest possible fee for you to rent out your apartment or room.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="../../../assets/icons/affordablefees.png" style="height: 170px; width: auto; margin-bottom: 20px;">
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-6 text-center">
        <img src="../../../assets/icons/quickeasy.png" style="height: 170px; width: auto; margin-bottom: 20px;">
      </div>
      <div class="col-md-6">
        <p class="lead font-weight-normal t-font" style="color: #19AA59;">Quick and Easy</p>
        <p class="text-left">
          Within 24 hours of our visit to your apartment, your listing will be up on our website for your potential new tenant!
          We are in charge of creating the video and photo content for your listing, so all you need to do is to sit back, relax, and wait for a booking!
          The process is fast, and you'll have a new tenant in no time at all.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="lead font-weight-normal t-font" style="color: #19AA59;">Tenant Compatibility</p>
        <p class="text-left">
          As landlord, you have full control over which type of tenant you would like to rent your apartment or room. Whether you prefer students, couples or professionals, the choice is yours.
          Once a qualified tenant books your apartment and you approve, everything will be good to go.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="../../../assets/icons/tenantcompatibility.png" style="height: 170px; width: auto; margin-bottom: 20px;">
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-6 text-center">
        <img src="../../../assets/icons/newlocation.png" style="height: 170px; width: auto; margin-bottom: 20px;">
      </div>
      <div class="col-md-6">
        <p class="lead font-weight-normal t-font" style="color: #19AA59;">New Locations Coming Soon</p>
        <p class="text-left">
          Our current operations are based in Barcelona, but we plan to expand to many new cities, helping more people around the world to find their ideal home.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" id="new-landlord" class="call-to-action" style="padding: 0;">
  <svg style="width: 100%; height: auto;" xmlns="http://www.w3.org/2000/svg" viewBox="0 100 1440 320">
    <path fill="#ffffff" fill-opacity="1"
      d="M0,256L48,240C96,224,192,192,288,176C384,160,480,160,576,170.7C672,181,768,203,864,218.7C960,235,1056,245,1152,250.7C1248,256,1344,256,1392,256L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
    </path>
  </svg>

  <div class="col-md-4" style="margin-left: 60px; padding: 50px 0 150px;">
    <h1 class="display-4 font-weight-normal h-font">Easy As Pie.</h1>
    <p class="lead font-weight-normal t-font">Rent Out Your Home Easily and Securely Today</p>
    <button class="redirect" [routerLink]="['/users/landlordreg']">Get Started Now</button>
  </div>
</div>

<div class="container-fluid" id="new-tenant" class="call-to-action active" style="padding: 0;">
  <svg style="width: 100%; height: auto;" xmlns="http://www.w3.org/2000/svg" viewBox="0 100 1440 320">
    <path fill="#ffffff" fill-opacity="1"
      d="M0,256L48,240C96,224,192,192,288,176C384,160,480,160,576,170.7C672,181,768,203,864,218.7C960,235,1056,245,1152,250.7C1248,256,1344,256,1392,256L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
    </path>
  </svg>

  <div class="col-md-4" style="margin-left: 60px; padding: 50px 0 150px;">
    <h1 class="display-4 font-weight-normal h-font">Book your new home from the comfort of your couch!</h1>
    <p class="lead font-weight-normal t-font">Find the perfect home Stress-Free</p>
    <button class="redirect" [routerLink]="['/search/Barcelona,%20Spain']">Search Homes Now</button>
  </div>
</div>

<div class="container-fluid" id="faq">
  <h1 class="display-4 font-weight-normal h-font" style="margin-bottom: 60px; font-size: 3rem;">
    <span style="color: #db2d8e;">Frequently </span>
    <span style="font-family: 'Circular STD Book', sans-serif;">Asked Questions</span>
  </h1>

  <div id="faq-tenant" class="faq active">
    <div class="row">
      <div class="col-md-6 px-0">
        <details>
          <summary>
            Wouldn’t it be better for me to visit the property myself?

          </summary>
          <p>At Home Fetch, we send a qualified member of our team to visit the property on your behalf.
            They will do the exact same things that you would do if you were to visit the property yourself.
            Every corner of the apartment or room will be inspected and, best of all, this will all be
            documented in a video tour made available on the apartment listing. Multiple high-definition
            photographs will also be available for you to see on the website. So there’s no need for a
            physical visit – we’ve done it all for you! Don’t worry, we can assure you that you will not be
            missing out!</p>
        </details>

        <details>
          <summary>
            What if I change my mind or no longer like the room/apartment?

          </summary>
          <p>You have the right to cancel your booking free of charge up to 48 hours after booking. After 48
            hours, you will only receive a partial refund and will be charged a booking fee (30% of the first
            month's rent). If you have already moved in and you genuinely find that the property is not the
            way it appeared in the video tour, and you have pictures and evidence to prove this, you will be
            eligible for a full refund. In fact, we will be more than happy to assist you with finding a new
            apartment/room.</p>
        </details>

        <details>
          <summary>
            I need a place to stay for only 1 month. Is this possible?

          </summary>
          <p>Yes, this is absolutely possible. The minimum stay for tenants in Barcelona is 31 days. Apart
            from “tourist households,” the law in Barcelona prohibits short-term rental occupancies of under
            a full month. </p>
        </details>
      </div>

      <div class="col-md-6 px-0">
        <details>
          <summary>
            Do you have any apartments in other cities, outside of Barcelona?

          </summary>
          <p>Currently, we are operating only in Barcelona. However, we plan to eventually expand to other
            cities in Spain and on to multiple European cities. </p>
        </details>

        <details>
          <summary>
            Is there a charge for using your services?

          </summary>
          <p>As a tenant, you will be charged an initial payment of 30% of your first month's rent. Our
            market research shows that this is a very fair and reasonable fee. We understand that it is
            already costly to move into a flat as landlords usually request at least a 2 month deposit,
            plus deposit for utilities; and then there is the agency fee (usually an additional month).
            That's why we charge the lowest possible fee for our unmatched services to make things easy for
            you.</p>
        </details>

        <details>
          <summary>
            Other Question?

          </summary>
          <a [routerLink]="['/contact']">Click here to contact our team!</a>
        </details>
      </div>
    </div>
  </div>

  <div id="faq-landlord" class="faq">
    <div class="row">
      <div class="col-md-6 px-0">
        <details>
          <summary>
            Wouldn’t it be better for me to visit the property myself?

          </summary>
          <p>At Home Fetch, we send a qualified member of our team to visit the property on your behalf.
            They will do the exact same things that you would do if you were to visit the property yourself.
            Every corner of the apartment or room will be inspected and, best of all, this will all be
            documented in a video tour made available on the apartment listing. Multiple high-definition
            photographs will also be available for you to see on the website. So there’s no need for a
            physical visit – we’ve done it all for you! Don’t worry, we can assure you that you will not be
            missing out!</p>
        </details>

        <details>
          <summary>
            What if I change my mind or no longer like the room/apartment?

          </summary>
          <p>You have the right to cancel your booking free of charge up to 48 hours after booking. After 48
            hours, you will only receive a partial refund and will be charged a booking fee (30% of the first
            month's rent). If you have already moved in and you genuinely find that the property is not the
            way it appeared in the video tour, and you have pictures and evidence to prove this, you will be
            eligible for a full refund. In fact, we will be more than happy to assist you with finding a new
            apartment/room.</p>
        </details>

        <details>
          <summary>
            I need a place to stay for only 1 month. Is this possible?

          </summary>
          <p>Yes, this is absolutely possible. The minimum stay for tenants in Barcelona is 31 days. Apart
            from “tourist households,” the law in Barcelona prohibits short-term rental occupancies of under
            a full month. </p>
        </details>

        <details>
          <summary>
            Do you have any apartments in other cities, outside of Barcelona?

          </summary>
          <p>Currently, we are operating only in Barcelona. However, we plan to eventually expand to other
            cities in Spain and on to multiple European cities. </p>
        </details>

      </div>

      <div class="col-md-6 px-0">
        <details>
          <summary>
            Is there a charge for using your services?

          </summary>
          <p>We charge a fraction of what a typical real estate agency or other online service provider
            would typically charge you. Landlords will be charged a flat service fee of €250 for
            apartments/€85 for a room (video, professional pictures, floor plan). Once your apartment/room
            is rented for the first time, you will only be charged €150 for an apartment and €50 a room for
            subsequent rentals.</p>
        </details>

        <details>
          <summary>
            When will my property be checked by your team?

          </summary>
          <p>A team member will visit your property once you have contacted us and confirmed to publish your
            home. Your property will not be published on our website unless we have visited it and recorded a
            video tour. </p>
        </details>

        <details>
          <summary>
            What are the benefits of using your platform for my property?

          </summary>
          <p>Using Home Fetch for your property is an incredibly easy and cost-effective way of listing your
            property. Not only are our fees very reasonable, we take the burden of searching for accommodation
            off you. Everything is done quickly and efficiently on our website, so you can start renting out
            your home ASAP. What’s not to love?</p>
        </details>

        <details>
          <summary>
            Other Question?

          </summary>
          <a [routerLink]="['/contact']">Click here to contact our team!</a>
        </details>
      </div>
    </div>
  </div>
</div>
