.hero-image {
  background-image: url('../../../assets/images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.pagination {
  margin-top: 40px;
}

body {
  max-width: 100vw;
  overflow: hidden;
}

#slider-div, #how-it-works {
  padding: 70px 60px 0px;
}

#how-it-works {
  padding-bottom: 70px;
}


.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

#searchcontainer {
  padding: 40vh 0;
}

#search {
  border: 3px solid #db2d8e;
  width: 90%;
  border-radius: 8px;
  padding: 20px 30px;
  font-size: 20px;
  font-family: "circular std bold", sans-serif;
}

#search:focus {
  outline: none;
}

#hero-text {
  height: 100vh;
  padding: 18% 3rem !important;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

#new-landlord {
  background-image: url("../../../assets/images/landlord.jpg");
  background-size: cover;
  background-position: top;
  min-height: 700px;
  color: white;
}
