<div class="header"></div>
<div class="hiw-container">
  <h1 class="h-font" style="color: #db2d8e;">HOW <span style="color:#000000; font-family:Circular Std Book">IT WORKS</span></h1>
  <hr>

  <div class="rounded-pill">
    <div id="tenant" class="pill-half active">
      Tenant
    </div>

    <div id="landlord" class="pill-half">
      Landlord
    </div>
  </div>

  <div class="container-fluid" id="how-it-works">
    <div id="how-tenant" class="how-it-works active">
      <div class="row" style="margin-bottom: 30px;">

        <div class="col-md-6">
          <p class="lead font-weight-normal t-font" style="color: #19AA59;">1. Explore Different Properties</p>
          <p class="text-left">
            Filter different properties by location, price, and other useful parameters to find your
            ideal home. Browse through a number of professionally shot photographs to get a virtual picture
            of the property in your mind.
          </p>
        </div>
        <div class="col-md-6 text-center">
          <img src="../../../assets/icons/hiwt1.png" style="height: 170px; width: auto; margin-bottom: 20px;">
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-6 text-center">
          <img src="../../../assets/icons/hiwt2.png" style="height: 170px; width: auto; margin-bottom: 20px;">
        </div>
        <div class="col-md-6">
          <p class="lead font-weight-normal t-font" style="color: #19AA59;">2. Send A Request to Rent</p>
          <p class="text-left">
            Send the landlord a booking request by paying a down payment consisting of 30% the rent and no more than
            450€. The landlord will receive your request and have 48 hours to accept or reject it. If they reject your
            request, your payment will be automatically refunded to you.
          </p>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6">
          <p class="lead font-weight-normal t-font" style="color: #19AA59;">3. Get Ready to Move In</p>
          <p class="text-left">
            Congratulations! You can now move into your new home! Lay down ground rules with your landlord and that's
            it. For your own peace of mind, we hold on to the security deposit until you've successfully begun your stay.
            Let us know if anything comes up and we wish you the best.
          </p>
        </div>
        <div class="col-md-6 text-center">
          <img src="../../../assets/icons/hiwt3.png" style="height: 170px; width: auto; margin-bottom: 20px;">
        </div>
      </div>
    </div>

    <div id="how-landlord" class="how-it-works">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-6 text-center">
          <img src="../../../assets/icons/hiwl1.png" style="height: 170px; width: auto; margin-bottom: 20px;">
        </div>
        <div class="col-md-6">
          <p class="lead font-weight-normal t-font" style="color: #19AA59;">1. Let Us Know You Want to Publish</p>
          <p class="text-left">
            Register to become a landlord and fill out some basic information regarding your property.
            Some of this info will include address of the property, rent, amenities, etc.
          </p>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-6">
          <p class="lead font-weight-normal t-font" style="color: #19AA59;">2. We Take Some Pictures</p>
          <p class="text-left">
            Someone from our team will come to check out your property and record all your particulars
            including video shoots. We'll also take some nice pictures to list with your property later
            on.
          </p>
        </div>
        <div class="col-md-6 text-center">
          <img src="../../../assets/icons/hiwl2.png" style="height: 170px; width: auto; margin-bottom: 20px;">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-center">
          <img src="../../../assets/icons/hiwl3.png" style="height: 170px; width: auto; margin-bottom: 20px;">
        </div>
        <div class="col-md-6">
          <p class="lead font-weight-normal t-font" style="color: #19AA59;">3. Your Listing Goes Public</p>
          <p class="text-left">
            Make sure to set down all of your apartment rules, agreement rules, apartment availability
            and type of tenant you prefer. If a tenant decides to rent with you, you have 48 hours to reply,
            or the transaction is cancelled.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
