<p>
  •	You contact us and let us know that you would like to publish your home on our website
•	We will then send someone from our team to check out your property and record all your particulars including video shoots.
•	Once that has been completed, we will list your apartment on our website with the video and pictures within 24 hours. You will need to lay out all of your apartment rules, agreement rules, apartment availability and type of tenant you prefer, and we will then find you the best fit.
•	Once a tenant is interested, we will send you the booking request and you have 48 hours to accept or decline it.

For Tenants
•	You explore the detailed videos and photographs of the different properties available on our website and then choose the apartment or room of your liking (our videos are very thorough and take you around the property very casually as if you were visiting it yourself).

•	If you are interested in a property, the landlord will be sent your booking request and they will be able to accept or decline within 48 hours.

•	Once you’ve chosen your accommodation and it has been confirmed with the landlord, we will then be able to start the move-in process.

•	Following communication with your new landlord, you will be able to sign any necessary agreements, and arrange a date before finally collecting your keys.

•	Congratulations! You can now move into your new home! *For your own peace of mind and security, we do not transfer your booking payment to the landlord until after you have moved in. The funds are held for 24-48 hours after your move-in date, and only once you have settled in and everything is to your satisfaction, will we transfer the first month’s rental to the landlord.
</p>
