<div class="container" *ngIf="loaded" style="padding: 120px 0; min-height:100vh">
  <h1> User Request:</h1>
  <hr style="width:10%">
  <div class="" *ngIf="!noRequest">

    <h6> {{tenant.userName}}</h6>
    <h6>{{tenant.from}} -> {{tenant.til}}</h6>
    <button class="btn btn-danger" type="button" (click)="refund()">Reject and Refund</button>
    <button class="btn btn-success" type="button" (click)="accept()">Accept and notify</button>
  </div>

  <div class="" *ngIf="noRequest">
    <h6 class="h-font"> No Request</h6>

  </div>
</div>
