<p>
  For Tenants:
•	Wouldn’t it be better for me to visit the property myself?
At Home Fetch, we send a qualified member of our team to visit the property on your behalf. They will do the exact same things that you would do if you were to visit the property yourself. Every corner of the apartment or room will be inspected and, best of all, this will all be documented in a video tour made available on the apartment listing. Multiple high-definition photographs will also be available for you to see on the website. So there’s no need for a physical visit – we’ve done it all for you!  Don’t worry, we can assure you that you will not be missing out!

•	How can I trust you?
Your trust is important to us and we have done our best to ensure that you always feel secure. For one, when we receive your payment for an apartment/room booking, we do not transfer this payment to the landlord until after you have moved in. We want you to get completely settled in and then, after 24-48 hours, we will then transfer the first month’s rent to the landlord.
Additionally, within our videos, the member of our team conducting the video tour will be verified so that you know for certain that it is us visiting the property.
•	What if I change my mind or no longer like the room/apartment?
You have the right to cancel your booking free of charge up to 48 hours after booking. After 48 hours, you will only receive a partial refund and will be charged a booking fee (30% of the first month's rent).
If you have already moved in and you genuinely find that the property is not the way it appeared in the video tour, and you have pictures and evidence to prove this, you will be eligible for a full refund. In fact, we will be more than happy to assist you with finding a new apartment/room.

•	I need a place to stay for only 1 month. Is this possible?
Yes, this is absolutely possible. The minimum stay for tenants in Barcelona is 31 days. Apart from “tourist households,” the law in Barcelona prohibits short-term rental occupancies of under a full month.

•	Do you have any apartments in other cities, outside of Barcelona?
Currently, we are operating only in Barcelona. However, we plan to eventually expand to other cities in Spain and on to multiple European cities.

	•	Is there a charge for using your services?
As a tenant, you will be charged an initial payment of 30% of your first month's rent. Our market research shows that this is a very fair and reasonable fee. We understand that it is already costly to move into a flat as landlords usually request at least a 2 month deposit, plus deposit for utilities; and then there is the agency fee (usually an additional month). That's why we charge the lowest possible fee for our unmatched services to make things easy for you.

For Landlords:
	•	How long will it take for my listing to be uploaded on your website?
Once we have taken professional photos of your apartment/room to be rented, as well as a floor plan, we publish your apartment on our website with all the content within only 24 hours of our visit!

• 	Who Handles Agreements?
We are not involved with agreements; we simply act as the middle man, connecting the landlord and the tenant. The agreement will be signed and negotiated between the landlord and tenant upon arrival.

•	Is there a charge for using your services?
We charge a fraction of what a typical real estate agency or other online service provider would typically charge you. Landlords will be charged a flat service fee of €250 for apartments/€85 for a room (video, professional pictures, floor plan). Once your apartment/room is rented for the first time, you will only be charged €150 for an apartment and €50 a room for subsequent rentals.

•	When will my property be checked by your team?
A team member will visit your property once you have contacted us and confirmed to publish your home. Your property will not be published on our website unless we have visited it and recorded a video tour.

•	What are the benefits of using your platform for my property?
Using Home Fetch for your property is an incredibly easy and cost-effective way of listing your property. Not only are our fees very reasonable, we take the burden of searching for accommodation off you. Everything is done quickly and efficiently on our website, so you can start renting out your home ASAP. What’s not to love?

</p>
