body {
  background: #f1f1f1;
}

.wrapper {
  padding-top: 120px;
  position: relative;
  height: 120vh;
  background-image:url('../../../assets/images/contactback.jpg');
}

svg {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
  position:absolute;
  bottom: 0;
}

.form-contact {
  width: 500px;
  height: 640px;
  padding: 40px 70px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.name {
  margin-top: 40px;
  margin-bottom:25px;
}
.email {
  margin-bottom:25px;
}

.message {
  margin-bottom: 40px;
  margin-top: 25px;
  font-size:20px;
}

.contact {
  margin-top: 46px;
  text-align: center;
  font-family: 'Circular Std Bold';
  color: #DA2D8D;
}

.submit {
  background-color: #DA2D8D;
  color: #eee;
  font-family: 'Circular Std Bold';
}
