@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@media only screen and (max-width: 688px) {
    table{
        text-align: center;
    }
    .disapir{
        display: none;
    }
}

.bounding-box {
  background-color: white;
  margin: 40px 0;
  padding: 35px 35px 49px;
}

.form-group {
  padding-right: 20px;
  padding-left: 20px;
}

h2 {
  font-family: "Circular Std Book", sans-serif;
  font-size: 30px;
  margin: 14px 0 20px;
  text-align: left;
  color: #db2d8e;
}

h3 {
  font-size: 20px;
  font-family: "Circular std book", sans-serif;
  margin-top: 20px;
}

textarea {
  max-height: 232px;
  min-height: 232px;
}

.overLine{
    text-decoration: line-through;
}

.error-msg {
  font-size: 10px;
  color: red;
  margin-top: 4px;
}

.form-control {
  height: auto;
  padding: .75em;
}

label{
    font-family: 'Roboto', sans-serif;
    padding-top: 8px;
    font-size: 13px;
    color: #727679;
    font-weight: 100;
}

td{
    max-width: 200px;
    padding: 10px;
}
.container {
    padding-top:20px;
    max-width: 800px;
  }
  .card{
    width: 8rem;
    margin-top: 10px;
    margin-left: 10px;
    border:1px solid #949494;
  }
  .card-img-top{
      height: 6rem;
  }
  .card .over{
    visibility: hidden;
}
  .card:hover .over{
    visibility: visible;
}
.card:hover{
    opacity: 0.7;
}

.over{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
}
.iconEdit{
    height: 40px;
    width: 40px;
}

.toCent{
    margin-left:auto;
    margin-right:auto;
}
table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.test{
    height: 100%;
    padding-top: 3px;
    width: 100%;
    color:#767474;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid #949494;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.opi{
    opacity: 0.5;
}

.card-body{
    height: 2rem;
    padding: 0px;
}

.login {
  background-color: #DA2D8D;
  color: #eee;
  font-family: 'Circular Std Bold';
  margin-bottom:20px;
}

.body-row {
  border-bottom: 1px solid #ecf2f5;
}

.body-row .label {
  width: 70%;
}

.body-row td {
  text-transform: capitalize;
  font-weight: 100;
}

#amenities td {
  padding: 20px 0;
}

.disapir {
  float: left;
  padding: .5rem;
  margin: 0 12px 12px 0;
  font-size: 12px;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-weight: 100;
  cursor: pointer;
}

.disapir label {
  margin-bottom: 0;
  padding-top: 0;
}

.iconEdit {
  height: 16px;
  width: auto;
  margin-right: 3px;
}

.card {
  margin: 0 !important;
  border: 1px solid #e9edf1;
  border-radius: 0;
  box-shadow: none;
  width: 12rem;
}

.card .card-img-top {
  padding: 10px;
  height: 9rem;
  width: auto;
}

.pictures {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  transform: translate(15px, 0);
}
