<div *ngIf='isDataLoaded' class="container mt-5">
  <div class="row">
    <tr>
      <td>Tenant: {{users.fullname}}</td>
      <td>Landlord: {{property.user.userName}}</td>
      <td>Housing Address: {{property.street}}, {{property.remain}}</td>
      <td>Available for Move in: {{property.available}}</td>
      <td>Pricing: {{property.deposit}} €</td>
      <td>Transaction Fee: {{fee}} €</td>
      <td>Total fee: {{total}} €</td>
    </tr>
  </div>

  <hr>

  <form id="payment-form">
      <h2>Shipping &amp; Billing Information</h2>
      <fieldset class="with-state">
        <label>
          <span>Name</span>
          <input name="name" class="field" placeholder="Jenny Rosen" required>
        </label>
        <label>
          <span>Email</span>
          <input name="email" type="email" class="field" placeholder="jenny@example.com" required>
        </label>
        <label>
          <span>Address</span>
          <input name="address" class="field" placeholder="185 Berry Street Suite 550">
        </label>
        <label class="city">
          <span>City</span>
          <input name="city" class="field" placeholder="San Francisco">
        </label>
        <label class="state">
          <span>State</span>
          <input name="state" class="field" placeholder="CA">
        </label>
        <label class="zip">
          <span>ZIP</span>
          <input name="postal_code" class="field" placeholder="94107">
        </label>
      </fieldset>

      <div id="card-element">
        <!--Stripe.js injects the Card Element-->
      </div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay</span>
      </button>
      <p id="card-error" role="alert"></p>
  </form>


  <p class="mt-5">
    Try it out using the test card number <b>4242 4242 4242 4242</b>, a random three-digit CVC number, any expiration date in the future, and a random five-digit U.S. ZIP code.
  </p>
</div>
