<nav class="nav">
  <div class="container-fluid">
    <div class="logo" style="transform: translate(0, -4px);">
      <a href="/"><img src="../../../assets/images/logo.png" style="width: 5rem; height: auto;">
      </a>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/mission']">About Us</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/hiw']">How It Works</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/faq']">FAQ's</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/users/landlordreg']">Becine a landlord</a></li>
        <div *ngIf="!isLoggedIn();then outProfiled else inProfiled">
          <ng-template #outProfiled>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/users/login']">Log In</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/users/register']">Sign Up</a></li>
          </ng-template>
        </div>
        <!--TODO add profile-->
        <ng-template #inProfiled>
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-danger" id="dropdownBasic1" ngbDropdownToggle>{{users.fullname}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 100%;">
                <button ngbDropdownItem *ngIf="users.admin!=0" [routerLink]="['/admin/panel']">Admin panel</button>
                <button ngbDropdownItem *ngIf="users.landlord!=0" [routerLink]="['/users/property']">Apartments</button>
                <button ngbDropdownItem *ngIf="users.landlord==0 || users.admin!=0" [routerLink]="['/users/waitlist']">Waitlist</button>
                <button ngbDropdownItem (click)="goToProfile()">Profile</button>
                <button ngbDropdownItem (click)="logOut()">Log out</button>
              </div>
            </div>
          </div>
        </ng-template>
        <!--TODO-->
      </ul>
    </div>
  </div>
</nav>
