<div class="container-fluid" *ngIf='isDataLoaded' style="margin:0 auto 5px; padding: 100px 50px; background-color: #F7F5F5">
  <div class="row" style="margin-top:10px;">
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="text-center" style="margin-bottom:30px; background-color:white;">
        <div style="position: relative; height:500px">
          <img *ngIf="image" [src]="images[pos]" style="margin-top:0px; width:auto; height:100%;" class="images">

          <!-- see more image -->
          <div (click)="seemore()" *ngIf="downloadimage && property.moreimage != undefined" src="../../../assets/images/seemore.jpg" style="margin-top:0px; width:100%; height:100%;" class="images see-more"></div>

          <div class="left">
            <svg (click)="left()" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
              <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" /></svg>
          </div>
          <div class="right">
            <svg (click)="right()" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
              <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" /></svg>
          </div>
        </div>

        <div id="pop-ups">
          <div class="row" style="width: 100%; margin: 20px 0 0;">
            <div class="col-md-4" style="padding-left: 35px; padding-right: 5px;">
              <div class="pop-up" (click)="dispPopup('floor_plan')" name="floor_plan">
                <span class="track-container__icon"><svg width="21px" height="16px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Slider" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Slider_MVP2_1_DesktopHD" transform="translate(-64.000000, -685.000000)" stroke="white" stroke-width="1.2">
                        <g id="Carousel-Tabs" transform="translate(32.000000, 658.000000)">
                          <g id="Photos">
                            <g id="Photos_lb" transform="translate(32.361766, 27.000000)">
                              <g id="Photos_icon">
                                <circle id="Oval" cx="6.1875" cy="5.45955882" r="2.03216912"></circle>
                                <rect id="Rectangle" x="0.515625" y="0.515625" width="16.4393382" height="16.4393382"></rect>
                                <polyline id="Path-3" points="0.727941176 13.7460021 4.83173584 10.232669 7.61628973 12.3846646 12.7805729 7.27941176 17.0575325 11.4059885"></polyline>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg></span>
                Floor Plan
              </div>
            </div>

            <div class="col-md-4" style="padding-left: 20px; padding-right: 20px;">
              <div class="pop-up" (click)="dispPopup('map')" name="map">
                <span class="track-container__icon"><svg width="16px" height="21px" viewBox="0 0 15 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Slider" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Slider_MVP2_1_DesktopHD" transform="translate(-532.000000, -685.000000)" stroke="white" stroke-width="1.2">
                        <g id="Carousel-Tabs" transform="translate(32.000000, 658.000000)">
                          <g id="Map" transform="translate(457.000000, 0.000000)">
                            <g id="Map_lb" transform="translate(41.448383, 27.000000)">
                              <g id="Map_icon">
                                <circle id="Oval" cx="8.73529412" cy="6.55147059" r="2.39613971"></circle>
                                <path
                                  d="M2.33547794,6.62147719 C2.33556992,8.75239431 4.46403005,12.1503134 8.73697723,16.7184791 C13.0077735,12.1502466 15.1351103,8.75231416 15.1351104,6.62161541 C15.1333075,3.25774377 12.2755718,0.520833194 8.73757987,0.515624752 C5.19708434,0.519097215 2.33735897,3.25645481 2.33547794,6.62147719 Z M2.33547794,6.62147719 C2.33547792,6.62152323 2.33547789,6.62156927 2.33547787,6.62161531 L2.33547794,6.62133907 C2.33547794,6.62138511 2.33547794,6.62143115 2.33547794,6.62147719 Z"
                                  id="Fill-1"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg></span>
                Map
              </div>
            </div>

            <div class="col-md-4" style="padding-left: 5px; padding-right: 35px;">
              <div class="pop-up" (click)="dispPopup('video')" name="video">
                <span class="track-container__icon"><svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Slider" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Slider_MVP2_1_DesktopHD" transform="translate(-220.000000, -685.000000)" stroke="white">
                        <g id="Carousel-Tabs" transform="translate(32.000000, 658.000000)">
                          <g id="Video" transform="translate(153.000000, 0.000000)">
                            <g id="Video_lb" transform="translate(35.448383, 27.000000)">
                              <g id="Video_icon">
                                <g id="Play_icon">
                                  <circle id="Oval" stroke-width="1.2" cx="8.73529412" cy="8.73529412" r="8.21966912"></circle>
                                  <path d="M12.173385,8.73529412 L7.06709559,5.33110118 L7.06709559,12.1394871 L12.173385,8.73529412 Z" id="Triangle" stroke-width="1.2"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg></span>
                Video
              </div>
            </div>
          </div>
        </div>

        <div style="padding: 35px; padding-top: 10px;">
          <p class="title">{{property.title}}</p>
          <p class="" *ngIf="property.floor=='N/A'" style="text-align: left; font-size: 14px; color: #727679; font-weight: 100;">{{property.street}}, {{property.remain}}</p>
          <p class="" *ngIf="property.floor!='N/A'" style="text-align: left; font-size: 14px; color: #727679; font-weight: 100;">{{property.street}}, {{property.remain}}, Floor: {{property.floor}}</p>
          <hr>
          <p class="" style="text-align: left; font-size: 14px; color: #727679; font-weight: 100;"><b>{{property.rooms}} </b>bed · <b>{{property.bathrooms}}</b> bath · <b>{{property.area}}</b> sq m</p>
        </div>
      </div>

      <!--Overview/features-->
      <div class="bordr text-center" style="margin-bottom:30px; background-color:white;">
        <div>
          <p class="title">Overview</p>
          <p class="overview" style="text-align: left; word-wrap: break-word; white-space: pre-wrap;">{{property.description}}</p>
        </div>
        <div style="padding-top: 10px; margin-top: 0;">
          <p class="title" style="font-size: 20px;">Property features</p>
        </div>

        <div class="ikonice" style="width: 100%; margin-bottom: 14px;">
          <div class="celija" [class.opi]="!isActive(1)">
            <img [class.opi]="!isActive(1)" class="iconEdit" [src]='iconURL[1]'>
            <label [class.overLine]="!isActive(1)">Internet</label>
          </div>
          <div class="celija" [class.opi]="!isActive(2)">
            <img [class.opi]="!isActive(2)" class="iconEdit" [src]='iconURL[2]'>
            <label [class.overLine]="!isActive(2)">Cable TV</label>
          </div>
          <div class="celija" [class.opi]="!isActive(3)">
            <img [class.opi]="!isActive(3)" class="iconEdit" [src]='iconURL[3]'>
            <label [class.overLine]="!isActive(3)">Double bed</label>
          </div>
          <div class="celija" [class.opi]="!isActive(4)">
            <img [class.opi]="!isActive(4)" class="iconEdit" [src]='iconURL[4]'>
            <label [class.overLine]="!isActive(4)">Single bed</label>
          </div>
          <div class="celija" [class.opi]="!isActive(5)">
            <img [class.opi]="!isActive(5)" class="iconEdit" [src]='iconURL[5]'>
            <label [class.overLine]="!isActive(5)">Air conditioning</label>
          </div>
          <div class="celija" [class.opi]="!isActive(6)">
            <img [class.opi]="!isActive(6)" class="iconEdit" [src]='iconURL[6]'>
            <label [class.overLine]="!isActive(6)">Fridge</label>
          </div>
          <div class="celija" [class.opi]="!isActive(7)">
            <img [class.opi]="!isActive(7)" class="iconEdit" [src]='iconURL[7]'>
            <label [class.overLine]="!isActive(7)">Stove</label>
          </div>
          <div class="celija" [class.opi]="!isActive(8)">
            <img [class.opi]="!isActive(8)" class="iconEdit" [src]='iconURL[8]'>
            <label [class.overLine]="!isActive(8)">Washing machine</label>
          </div>
          <div class="celija" [class.opi]="!isActive(9)">
            <img [class.opi]="!isActive(9)" class="iconEdit" [src]='iconURL[9]'>
            <label [class.overLine]="!isActive(9)">Bathtub</label>
          </div>
          <div class="celija" [class.opi]="!isActive(10)">
            <img [class.opi]="!isActive(10)" class="iconEdit" [src]='iconURL[10]'>
            <label [class.overLine]="!isActive(10)">Microwave</label>
          </div>
          <div class="celija" [class.opi]="!isActive(11)">
            <img [class.opi]="!isActive(11)" class="iconEdit" [src]='iconURL[11]'>
            <label [class.overLine]="!isActive(11)">Landline</label>
          </div>
          <div class="celija" [class.opi]="!isActive(12)">
            <img [class.opi]="!isActive(12)" class="iconEdit" [src]='iconURL[12]'>
            <label [class.overLine]="!isActive(12)">Fireplace</label>
          </div>
        </div>
        <div class="spacer" style="clear: both;"></div>
      </div>

      <!--Pricing/Availability-->
      <div class="bordr" style="margin-bottom:30px; background-color:white;">
        <div>
          <p class="title">Pricing</p>
          <div>
            <table style="width: 100%;" id="pricing-values">
              <tr class="header-row">
                <th>
                  To Pay Per Month
                </th>
              </tr>

              <tr class="body-row">
                <td class="label">Monthly Rent</td>
                <td>{{property.monthly}} €</td>
              </tr>

              <tr>
                <th style="padding-top: 50px;">
                  Bills
                </th>
              </tr>

              <tr class="body-row">
                <td class="label">Electricity</td>
                <td>{{property.electricity}}</td>
              </tr>

              <tr class="body-row">
                <td class="label">Water</td>
                <td>{{property.water}}</td>
              </tr>

              <tr class="body-row">
                <td class="label">Gas</td>
                <td>{{property.gas}}</td>
              </tr>

              <tr class="body-row">
                <td class="label">Wifi</td>
                <td>{{property.wifi}}</td>
              </tr>

              <tr>
                <th style="padding-top: 50px;">
                  To Pay on Move In
                </th>
              </tr>

              <tr class="body-row">
                <td class="label">Deposit</td>
                <td>{{property.deposit}} €</td>
              </tr>

              <tr class="body-row">
                <td class="label">HomeFetch Fee</td>
                <td>{{0.3*property.monthly}} €</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!--Rules-->
      <div class="bordr text-center" style="margin-bottom:30px; background-color:white;">
        <div class="col-md-10">
          <p class="title">House Rules</p>
          <p class="overview" style="text-align: left; word-wrap: break-word;  white-space: pre-wrap;">{{property.rules}}</p>

          <div style="padding-top: 10px; margin-top: 0;">
            <p class="title" style="font-size: 20px;">Landlord Policies</p>
          </div>

          <p class="overview" style="text-align: left; word-wrap: break-word;  white-space: pre-wrap;">{{property.landlordrules}}</p>

          <div style="padding-top: 10px; margin-top: 0;">
            <p class="title" style="font-size: 20px;">Required Documents</p>
          </div>

          <p class="overview" style="text-align: left; word-wrap: break-word;  white-space: pre-wrap;">{{property.documents}}</p>
        </div>
      </div>

      <div class="bordr" style="margin-bottom:30px; padding-bottom: 60px; background-color:white;">
        <p class="title">Availability</p>

        <table style="width: 100%;" id="availability-values">
          <tr class="body-row">
            <td class="label">Available From</td>
            <td>{{getDate(property.available)}}</td>
          </tr>

          <tr class="body-row">
            <td class="label">Min. Stay</td>
            <td>{{property.minstay}} Days</td>
          </tr>

          <tr class="body-row">
            <td class="label">Max. Stay</td>
            <td *ngIf="property.maxstay==0">Unspecific</td>
            <td *ngIf="property.maxstay!=0">{{property.maxstay}} Days</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div style="position: sticky; top: 100px;">

        <div class="bordr" id="contact-landlord" style="background-color: white;">
          <h6><b>{{property.monthly}} € per month</b></h6>

          <form id="check-availability" [formGroup]="form">
            <div class="datepicker__input-container__DatePicker___OmV4c">

              <input class="datepicker__input__DatePicker___OmV4c" placeholder="Move In Date" matInput [matDatepicker]="picker" [min]="minDate" formControlName="from">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <span class="datepicker__arrow__DatePicker___OmV4c"></span>

              <input class="datepicker__input__DatePicker___OmV4c" placeholder="Move Out Date" matInput [matDatepicker]="picker2" [min]="minDate" formControlName="til">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>

            </div>

            <button (click)="payProperty(property)" class="btn btn-lg btn-block custom" style="margin-top: 25px;" [disabled]="!form.valid">Request to Book</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="floor_plan" class="modal" *ngIf='isDataLoaded'>
  <span class="close" (click)="closeModal('floor_plan')">
    <img src="../../../assets/images/close.svg">
  </span>
  <div class="modal-cont">
    <img [src]="floorplan[0]" style="width: 500px; height: auto;">
  </div>
</div>

<div id="map" class="modal" *ngIf='isDataLoaded'>
  <span class="close" (click)="closeModal('map')">
    <img src="../../../assets/images/close.svg">
  </span>
  <div class="modal-cont" style="width: 560px; height: 315px;">
    <agm-map #agmMap [latitude]="latitude" [longitude]="longitude" [fitBounds]="true">
      <agm-marker (markerClick)="goForProp(prop)" [latitude]="property.latitude" [longitude]="property.longitude" [agmFitBounds]="true"></agm-marker>
    </agm-map>
  </div>
</div>

<div id="video" class="modal" *ngIf='isDataLoaded'>
  <span class="close" (click)="closeModal('video')">
    <img src="../../../assets/images/close.svg">
  </span>
  <div class="modal-cont">
    <iframe width="560" height="315" [src]="property.youtube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
</div>
