@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@media only screen and (max-width: 576px) {
  .container {
    padding-top: 0px;
  }

  .celija {
    text-align: center;
  }

  .rightIm {
    margin-top: 0px;
  }

  .celija {
    padding: 0px;
  }
}

@media only screen and (max-width: 765px) {
  label {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    padding-top: 20px;
  }

  .celija {
    padding: 5px;
    text-align: left;
  }
}

.opi {
  opacity: 0.3;
}

.overLine {
  text-decoration: line-through;
}

.left {
  position: absolute;
  top: 33%;
  left: 7%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

.right {
  position: absolute;
  top: 33%;
  left: 93%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

.bordr {
  border: 5px solid #e0e0e0;
  border-radius: 15px;
}

.text-center {
  position: relative;
}

.iconEdit {
  height: 40px;
  width: 40px;
}

.celija {
  max-width: 200px;
  padding-top: 20px;
}

.ikonice {
  margin-bottom: 20px;
  margin-left: 10px;
}

.img-thumbnail {
  width: 180px;
  height: 180px;
}

.avatar {
  margin-top: 12px;
  margin-bottom: 5px;
}

.title {
  font-family: "Circular Std Book";
  font-size: 30px;
  margin-top: 14px;
  text-align: left;
}

.rightIm {
  background-color: white;
  /*position: sticky;*/
  margin: auto;
  /*top: 100px;*/
  padding: 20px;
}

.custom {
  background-color: #DA2D8D;
  color: #eee;
  font-family: 'Circular Std Bold';
}

#contact-landlord {
  padding: calc(17px - .6rem);
  text-align: center;
  margin-top: 30px;
}

.bordr h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin: .6rem 0;
  font-weight: 100;
}

.overview {
  font-weight: lighter;
  font-size: 1.1rem;
  text-align: left;
}
