<footer class="page-footer font-small blue pt-4" style="padding: 90px !important; padding-bottom: 70px !important;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">HomeFetch</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="#!">Terms and Conditions</a>
          </li>
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Tenants</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/hiw">How It Works</a>
          </li>
          <li>
            <a href="/contact">Help</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>

        <h5 class="text-uppercase" style="margin-top: 24px;">Landlords</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/landlordreg">Publish Your Property</a>
          </li>
          <li>
            <a href="/contact">Help</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Help</h5>
        <!-- Content -->
        <button class="redirect" style="margin-top: 0;"><a href="/contact" style="color:white">Contact Us</a></button>

        <img src="../../../assets/images/logo.png" style="width: 60%; height: auto; margin-top: 15px;">
        <p style="font-weight: 100;">Roger de Llúria, 5A, 08037, Barcelona</p>
      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase" style="margin-left: 10px;">Follow Us</h5>
        <ul class="follow-icons">
          <li>
            <a href="https://fb.me/homefetch" target="_blank" rel="noopener noreferrer" class="link__Link___OmV4c link__light--underline__Link___OmV4c link__action__Link___OmV4c">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="20" viewBox="0 0 11 22" class="">
                <path fill="#403e3e" d="M10.23 11H7.15v11H2.53V11H.33V7.15h2.2V4.62C2.53 2.86 3.41 0 7.15 0h3.41v3.74H8.14c-.44 0-.99.22-.99 1.1v2.31h3.52L10.23 11z"></path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://whatsapp.com" target="_blank" rel="noopener noreferrer" class="link__Link___OmV4c link__light--underline__Link___OmV4c link__action__Link___OmV4c">
              <img src="../../../assets/images/whatsapp.svg">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UChokL3TyuDHmSCpW7yS32WQ?view_as=subscriber" target="_blank" rel="noopener noreferrer" class="link__Link___OmV4c link__light--underline__Link___OmV4c link__action__Link___OmV4c">
              <svg xmlns="http://www.w3.org/2000/svg" width="31" height="22" viewBox="0 0 31 22">
                <path fill="#403e3e"
                  d="M30.581 4.73s-.325-2.2-1.193-3.08C28.194.44 26.892.44 26.35.33 22.01 0 15.5 0 15.5 0S8.99 0 4.758.33c-.65.11-1.953.11-3.038 1.32C.744 2.64.527 4.73.527 4.73S.201 7.26.201 9.79v2.42c0 2.53.326 5.06.326 5.06s.326 2.2 1.193 3.08c1.194 1.21 2.713 1.21 3.364 1.32C7.471 21.89 15.5 22 15.5 22s6.51 0 10.85-.33c.651-.11 1.953-.11 3.038-1.32.976-.99 1.193-3.08 1.193-3.08s.326-2.53.326-5.06V9.79c0-2.53-.326-5.06-.326-5.06zM12.354 15.07v-8.8l8.354 4.4-8.354 4.4z">
                </path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/homefetch.es/" target="_blank" rel="noopener noreferrer" class="link__Link___OmV4c link__light--underline__Link___OmV4c link__action__Link___OmV4c">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                <path fill="#403e3e"
                  d="M2.821 0h16.167c1.52 0 2.821 1.302 2.821 2.821v16.167c0 1.52-1.302 2.821-2.82 2.821H2.82C1.302 21.81 0 20.507 0 18.99V2.82C0 1.302 1.302 0 2.821 0zm13.02 2.387a.972.972 0 0 0-.976.977V5.75c0 .542.434.976.976.976h2.496a.972.972 0 0 0 .977-.976V3.364a.972.972 0 0 0-.977-.977h-2.496zm3.364 6.836h-1.844c.217.542.325 1.193.325 1.844 0 3.581-3.038 6.51-6.727 6.51-3.69 0-6.727-2.929-6.727-6.51 0-.65.108-1.302.325-1.844H2.604v9.114c0 .434.434.868.868.868h15.082c.434 0 .868-.434.868-.868V9.223h-.217zM10.85 6.619c-2.387 0-4.34 1.844-4.34 4.231 0 2.279 1.953 4.232 4.34 4.232 2.387 0 4.34-1.845 4.34-4.232 0-2.387-1.953-4.231-4.34-4.231z">
                </path>
              </svg>
            </a>
          </li>
          <li>
            <a href="http://linkedin.com/company/homefetch" target="_blank" rel="noopener noreferrer" class="link__Link___OmV4c link__light--underline__Link___OmV4c link__action__Link___OmV4c">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="22" viewBox="0 0 42.3 36">
                <path fill="#403e3e"
                  d="M36.5,0H5.8C4.3,0,3.1,1.2,3.1,2.6v30.8c0,1.4,1.2,2.6,2.7,2.6h30.7c1.5,0,2.7-1.2,2.7-2.6V2.6 C39.1,1.2,37.9,0,36.5,0z M13.8,30.7H8.5V13.5h5.3V30.7z M11.1,11.1C9.4,11.1,8,9.8,8,8.1C8,6.3,9.4,5,11.1,5 c1.7,0,3.1,1.4,3.1,3.1C14.2,9.8,12.9,11.1,11.1,11.1z M33.8,30.7h-5.3v-8.4c0-2,0-4.6-2.8-4.6c-2.8,0-3.2,2.2-3.2,4.4v8.5h-5.3 V13.5h5.1v2.3h0.1c0.7-1.4,2.5-2.8,5.1-2.8c5.4,0,6.4,3.6,6.4,8.2V30.7z">
                </path>
              </svg>
            </a>
          </li>
        </ul>

        <p style="font-weight: 100; margin-top: 20px; margin-left: 10px;">For any Inquiries, Call: 935316835</p>

        <p style="font-weight: 100; margin-top: 20px; margin-left: 10px;">Whatsapp: +34664163474</p>
      </div>

    </div>
    <!-- Grid row -->

    <div style="position: absolute; width: 100%; left: 100; margin-top: 30px;">
      © 2020 Copyright: HomeFetch
    </div>
    <!-- Copyright -->
  </div>
  <!-- Footer Links -->
</footer>
